{% extends "generic/base.html" %}

{% block title %}<title>Book Detail</title>{% endblock title %}

{% block content %}
<h2>Book Detail</h2>
<div class="book_detail">
  <img src="{{ book.cover_image }}">
  <h3>{{ book.title }}</h3>
  <p>Author: {{book.author}}</p>
  <p>Published: {{book.year}}</p>
  <p>Added: {{book.date_added}}</p>
  {% if not book.last_borrowed %}
  <p>Last borrowed: Never</p>
  {% else %}
  <p>Last borrowed: {{book.last_borrowed}}</p>
  {% endif %}
  <p>Status: {{ book.status|title }}</p>
</div>
{% endblock content %}
